.header {
  background: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}

/* .header.dark-theme {
  background: #252627;
} */

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 760px;
  max-width: 100%;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
}

.theme-toggler {
  fill: currentColor;
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

@media (max-width: 900px) {
  .header__right {
    flex-direction: row-reverse;
  }
}