.menu {
  border-right: 1px solid;
  margin-right: 18px;
  z-index: 9999;
}

.menu.dark-theme {
  background: #252627;
}

.menu__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 1rem;
  list-style: none;
}

.menu__inner > li {
  margin: 0 12px;
}

.menu__inner > li > a {
  color: var(--font-hyperlink-color);
  text-decoration: none; 
}

.menu__inner > li > a:hover {
  color: green;
}

.menu__inner > li > a:last-of-type {
  margin-right: 0;
}

@media (max-width: 684px) {
  .menu {
    position: absolute;
    top: 50px;
    right: 0;
    border: none;
    margin: 0;
    padding: 10px;
  }

  .menu__inner {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .menu__inner > li {
    margin: 0;
    padding: 5px;
  }
}