.menu {
  border-right: 1px solid;
  margin-right: 18px;
  z-index: 9999;
}

.menu.dark-theme {
  background: #252627;
}

.menu__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 1rem;
  list-style: none;
}

.menu__inner > li {
  margin: 0 12px;
}

.menu__inner > li > a {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
}

.menu__inner > li > a:last-of-type {
  margin-right: 0;
}