:root {
  --background-color: #FFFFFF;
  --header-color: #F6F8FA;
  --border-color: #E5E7EB;
  --font-header-color: #000000;
  --font-text-color: #1A1A1A;
  --font-hyperlink-color: #0070F3;

  --light-theme-background: white;
  --light-theme-color: black;
  --light-theme-border: #dcdcdc;

  --dark-theme-background: #292a2d;
  --dark-theme-color: #a9a9b3;
  --dark-theme-border: #4a4b50;
}